.de-animated-underline {
  background-image: linear-gradient(90deg, #2ee9a8 25%, #cf35ec 50%, #2ee9a8 75%);
  background-size: 400% 400%;
  animation: shimmer 8s linear infinite;
  max-height: 2px;
}

@keyframes shimmer {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -135% 0%;
  }
}
