.de-animated-underline {
  background-image: linear-gradient(90deg, #C5C5C5 25%, #C5C5C5 50%, #C5C5C5 75%);
  background-size: 400% 400%;
  /* animation: shimmer 8s linear infinite; */
  max-height: 2px;
}

@keyframes shimmer {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -135% 0%;
  }
}
